<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row col-12">
                <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                    <div class="logo-widget footer-widget">
                        <figure class="logo-box"><a href="#"><img src="/img/stamp.png" alt=""></a></figure>
                        <div class="text">
                            <p>Lorem ipsum dolor amet consectetur adi pisicing elit sed eiusm labore dolore magna aliqua enim ad minim veniam quis.nostrud exercita.laboris nisi ut</p>
                        </div>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
                    <div class="service-widget footer-widget">
                        <div class="footer-title">Servicios</div>
                        <ul class="list">
                            <li><a href="#">Café Orgánico</a></li>
                            <li><a href="#">Accesorios</a></li>
                            <li><a href="#">Cafeteras</a></li>
                            <li><a href="#">Souvenirs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                    <div class="contact-widget footer-widget">
                        <div class="footer-title">Contáctenos</div>
                        <div class="text">
                            <p>Lorem Ipsum, simply dummy text</p>
                            <p>(+000) 123321</p>
                            <p>info@ritualurbano.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>