<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header")  %> 

    <main>
        <div class="cafe-box">
            
                <div class="producto-cafe">
                    <img src="/img/Products-4-450x450.jpg" alt="Cafe">
                    <p>cafe: supremo</p>
                </div>
                <div class="producto-cafe">
                    <img src="/img/Products-4-450x450.jpg" alt="Cafe">
                    <p>cafe: supremo</p>
                </div>
                <div class="producto-cafe">
                    <img src="/img/Products-4-450x450.jpg" alt="Cafe">
                    <p>cafe: supremo</p>
                </div>
                <div class="producto-cafe">
                    <img src="/img/Products-4-450x450.jpg" alt="Cafe">
                    <p>cafe: supremo</p>
                </div>
        </div>
                   




    </main>
  <!--footer start-->
  <%- include("../partials/footer")  %> 

    <!-- main-footer end -->

</body>
</html>
