<!DOCTYPE html>
<html lang="en">
   <!-- head INICIO -->
   <%- include("../partials/head.ejs") %>
   <!-- head FIN -->

  <body>
     <!-- header INICIO -->
     <%- include("../partials/header")  %> 

    <main>
        <div class="cafeteras-box">
            
                <div class="producto-cafetera">
                    <img src="/img/Products-12-450x450.jpg" alt="cafetera">
                    <p>cafetera: super duper</p>
                </div>
                <div class="producto-cafetera">
                    <img src="/img/coffee_item9-300x300.jpg" alt="cafetera">
                    <p>cafetera: super duper</p>
                </div>
                <div class="producto-cafetera">
                    <img src="/img/Products-12-450x450.jpg" alt="cafetera">
                    <p>cafetera: super duper</p>
                </div>
                <div class="producto-cafetera">
                    <img src="/img/Products-12-450x450.jpg" alt="cafetera">
                    <p>cafetera: super duper</p>
                </div>
        </div>
                   




    </main>
  <!--footer start-->
  <%- include("../partials/footer")  %> 

    <!-- main-footer end -->
</body>
</html>
