<!DOCTYPE html>
<html lang="en">

 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->


<body>
  <!-- header INICIO -->
  <%- include("../partials/header")  %> 

  <main>
    <div class="container">
      <h2>Carrito de compras</h2>
      <section class="articulos-carrito">
        <div class="item-carrito">
          <div class="imagen-carrito"><img src="/img/cafe.png" alt="Cafe"></div>
          <div class="descripcionArt-carrito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam</div>
          <div class="contador-carrito">
            <button>+</button>
            <input type="number" name="cantidad">
            <button>-</button>
          </div>
          <div class="precio-carrito">
            <p>$1.234</p>
          </div>
          <div class="eliminar-carrito"><i class="fas fa-trash-alt"></i></div>
        </div>

        <div class="item-carrito">
          <div class="imagen-carrito"><img src="/img/cafe.png" alt="Cafe"></div>
          <div class="descripcionArt-carrito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam</div>
          <div class="contador-carrito">
            <button>+</button>
            <input type="number" name="cantidad">
            <button>-</button>
          </div>
          <div class="precio-carrito">
            <p>$1.234</p>
          </div>
          <div class="eliminar-carrito"><i class="fas fa-trash-alt"></i></div>
        </div>
        <div class="item-carrito">
          <div class="imagen-carrito"><img src="/img/cafe.png" alt="Cafe"></div>
          <div class="descripcionArt-carrito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam</div>
          <div class="contador-carrito">
            <button>+</button>
            <input type="number" name="cantidad">
            <button>-</button>
          </div>
          <div class="precio-carrito">
            <p>$1.234</p>
          </div>
          <div class="eliminar-carrito"><i class="fas fa-trash-alt"></i></div>
        </div>
        <div class="item-carrito">
          <div class="imagen-carrito"><img src="/img/cafe.png" alt="Cafe"></div>
          <div class="descripcionArt-carrito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam</div>
          <div class="contador-carrito">
            <button>+</button>
            <input type="number" name="cantidad">
            <button>-</button>
          </div>
          <div class="precio-carrito">
            <p>$1.234</p>
          </div>
          <div class="eliminar-carrito"><i class="fas fa-trash-alt"></i></div>
        </div>
      </section>
      <div class="boton-enviar-carrito">
        <a href="#"> <button>Seguir comprando</button></a>
        <button type="submit">Procesar compra</button>
      </div>
    </div>
  </main>
  <!--footer start-->
  <%- include("../partials/footer")  %> 

  <!-- main-footer end -->

</body>

</html>