<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header")  %> 

    <main>
        <p>su compra a sido un exito!!!</p>
        </div>
                  
    </main>
  <!--footer start-->
  <%- include("../partials/footer")  %> 

    <!-- main-footer end -->

</body>
</html>
