<!DOCTYPE html>
<html lang="en">
   <!-- head INICIO -->
   <%- include("../partials/head.ejs") %>
   <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header")  %> 

    <main>
        <div class="merchandising-box">
            
                <div class="producto-merchandising">
                    <img src="/img/coffee_item6-300x300.jpg" alt="Chocolates">
                    <p>Deliciosos chocolates</p>
                </div>
                <div class="producto-merchandising">
                    <img src="/img/coffee_item6-300x300.jpg" alt="Chocolates">
                    <p>Deliciosos chocolates</p>
                </div>
                <div class="producto-merchandising">
                    <img src="/img/coffee_item6-300x300.jpg" alt="Chocolates">
                    <p>Deliciosos chocolates</p>
                </div>
                <div class="producto-merchandising">
                    <img src="/img/coffee_item6-300x300.jpg" alt="Chocolates">
                    <p>Deliciosos chocolates</p>
                </div>
        </div>
                   




    </main>
  <!--footer start-->
  <%- include("../partials/footer")  %> 

    <!-- main-footer end -->
</body>
</html>