<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header.ejs") %>
    <!-- header FIN -->

    <main>
      <div class="container-detalle-producto">
        <div class="img-detalle-producto">
          <img src="/img/01_coffee.jpg" alt="Aca va una imagen del producto">
          <br>
          <p> <%= prodID %> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, vitae!</p>
        </div>
        <div class="texto-detalle-producto">
          <b>Nombre: </b> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, temporibus?</p>
          <br/>
          <b>Descripcion: </b>
          <br/>
          <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia commodi aut mollitia at aliquam suscipit possimus, fuga fugit sed quasi ducimus dicta soluta, vitae reiciendis omnis animi illum quidem quod expedita perferendis! Nesciunt obcaecati deleniti ullam aspernatur corporis odio in quam. Molestias dolor doloribus itaque ad, libero earum vero voluptates officiis. Obcaecati unde dignissimos ab quis voluptatibus, earum magni, harum ducimus enim est voluptates repellendus quisquam sunt vitae explicabo nesciunt! Omnis delectus nostrum eveniet nisi pariatur, porro earum laboriosam? Dicta labore itaque quasi autem culpa incidunt nemo, earum, necessitatibus natus facere fugit esse aut assumenda similique ducimus ratione quisquam? Nostrum itaque tenetur iure debitis quos quis modi error tempora suscipit deleniti a odit hic explicabo fugit ex optio vitae nam tempore rerum, provident quas saepe incidunt? Corporis officiis iure at voluptas, autem repellat id dolorum cum inventore similique quas aliquam? Sapiente accusamus fugiat, commodi minus molestiae labore officiis. Recusandae, odio unde officiis nostrum quas odit nesciunt illo magni voluptates commodi ducimus blanditiis tempora quaerat ratione iusto, nulla consequatur, error assumenda non expedita temporibus dolore natus vitae. Officia at aliquam porro. Ipsam magnam perspiciatis, nesciunt aspernatur facere animi reprehenderit similique modi voluptatibus, quaerat alias eligendi, repudiandae harum temporibus quod. Accusantium reiciendis natus architecto modi doloribus sed nemo sequi odit nihil ut fuga repellat quia facere amet error alias a neque, qui aliquid nobis quibusdam. Animi officia earum, quasi dolores doloremque exercitationem? Dignissimos beatae impedit distinctio ipsam dolor natus, tenetur ducimus amet tempore veritatis deserunt architecto quo, veniam placeat quos obcaecati nam voluptatum eos aliquam necessitatibus dolorem ea. Non vitae tempora exercitationem, consequuntur expedita quam facilis deserunt facere, magnam itaque voluptatum et. Ipsam cupiditate sapiente nam ab unde sequi pariatur dicta tempora tempore. Eos recusandae a eaque dolorum! Accusantium optio doloribus sunt aliquid fuga, labore aliquam doloremque. Eligendi facere a dolores modi dolorem, vel voluptatum blanditiis, ducimus, vitae ab fuga labore totam autem ipsam placeat! Aliquam alias quibusdam veniam, repudiandae ex accusantium omnis. Sit quos vero mollitia, itaque reiciendis reprehenderit possimus quam cupiditate sed. Quaerat eum earum unde aliquam at itaque perspiciatis mollitia, error iure ex libero quae totam odit fugit delectus fuga modi nisi sit cum iusto hic nemo ea eaque? Adipisci alias quia aperiam quibusdam atque obcaecati, perferendis nam cupiditate dolor deserunt enim, autem veritatis natus dolores quaerat architecto at omnis blanditiis, sequi tenetur ad laudantium! Harum rerum perspiciatis eum corporis libero recusandae quam molestias a numquam, alias asperiores deleniti ipsum consequuntur ab voluptatum, in odio illo iste. Minus quo nam sit, unde eveniet fugit blanditiis consequatur non animi placeat iusto, atque perspiciatis accusamus asperiores aspernatur obcaecati vel aliquam nobis ad optio quis deserunt ipsum aut. Eveniet corporis suscipit sed laborum facere inventore dolore ab nam esse nostrum, quibusdam voluptatem, quos voluptatum voluptates excepturi. Minus magnam repudiandae quas reiciendis nam minima! Dicta unde incidunt magni voluptatem natus mollitia dolore iusto beatae rem ad, omnis eveniet explicabo veritatis dignissimos vel fugit debitis, asperiores ex adipisci veniam quas hic itaque consequuntur! Accusantium ea suscipit numquam doloribus, rem similique eligendi at pariatur ullam.</p>
          <br/>
          <b>Precio: </b> <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>



    </main>
  <!--footer start-->
    <%- include("../partials/footer.ejs") %>
    <!-- main-footer end -->
</body>
</html>


</body>
</html>
