<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header.ejs") %>
    <!-- header FIN -->

    <main>
    
      <h1>Edicion de producto</h1>
          <h2>editando el articulo <%= prodObj.id %></h2>
    </main>

  <!--footer start-->
    <%- include("../partials/footer.ejs") %>
    <!-- main-footer end -->
</body>
</html>