<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header.ejs") %>
    <!-- header FIN -->

    <main>

      <section class="mt-5 container ">

        <h1 class="mb-4 display-5 fw-bold text-center">Creacion de producto</h1>
          <p class="text-center mx-auto">Ingresa todos los campos</p>
            <div class="border-bottom pb-3"></div>

        <div class="p-2"> 
          <form class="formCrearProducto m-4" action="/producto" method="POST" enctype="multipart/form-data">
           <!-- <input
              type="number"
              name="idProd"
              id=""
              placeholder="ID de producto"
            />
            <br />
           --> <input
              type="text"
              name="nombreProducto"
              id=""
              placeholder="Nombre del producto"
            />
            <br />
            <input
              type="text"
              name="descipcionProducto"
              id=""
              placeholder="Descripcion del producto"
            />
            <br />
            <input
              type="text"
              name="categoriaProducto"
              id=""
              placeholder="Categoria del producto"
            />
            <br />
            <input
              type="number"
              name="pesoProducto"
              id=""
              placeholder="Peso del producto"
            />
            <br />
            <input
              type="number"
              name="precioProducto"
              id=""
              placeholder="Precio del producto"
            />
            <br />
            <input type="file" name="imagenProducto" id="" />
            <br />
            <button type="submit" class="btn btn-dark mt-4 mb-2">Enviar</button>
            <br />
          </form>
        </div>

      </section>

    </main>
    <!--footer start-->
    <%- include("../partials/footer.ejs") %>
    <!-- main-footer end -->
  </body>
</html>
