<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header.ejs") %>
    <!-- header FIN -->

    <main>
    
   <h1> Creacion de producto</h1>
      <div>
        <div>
          <form action="/producto" method="POST">
            <input type="number" name="idProd" id="" placeholder="ID de producto">
            <input type="text" name="nombreProducto" id="" placeholder="Nombre del producto">
            <input type="text" name="descipcionProducto" id="" placeholder="Descripcion del producto">
            <input type="text" name="categoriaProducto" id="" placeholder="Categoria del producto">
            <input type="number" name="pesoProducto" id="" placeholder="Peso del producto">
            <input type="number" name="precioProducto" id="" placeholder="Precio del producto">
            <input type="file" name="imagenProducto" id="" >
            <button type="submit">Enviar</button>
          </form>

        </div>
      </div>


    </main>
  <!--footer start-->
    <%- include("../partials/footer.ejs") %>
    <!-- main-footer end -->
</body>
</html>

