<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e145d9d2c3.js"
      crossorigin="anonymous"
    ></script>
    <title>Tus articulos</title>
  </head>
  <body>
    <header>
      <div class="top-logo-bar">
        <a href="/"><img class="logo" src="/img/logo-ritual-urbano.png" alt="logo"></a>
      </div>
      <form class="searchbar" action="" method="">
        <input type="query" name="busqueda" placeholder="Que desa buscar?">
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <nav class="menu-principal">
        <ul>
          <a href="/"> <li>Home</li></a>
          <a href="/detalle"> <li>Productos</li></a>
          <a href="carrito"><li>Carrito</li></a>
          <a href="/registro"><li>Registo</li></a>
          <a href="/login"><li>Iniciar Sesion</li></a>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Carrito de compras</h2>
        <section class="articulos-carrito">
          <div class="item-carrito">
            <img src="/img/cafe.png" alt="Cafe">
            <p>Lorem ipsum dolor sit amet.</p>
            <input type="number" name="cantidad">
            <button>+</button>
            <button>-</button>
          </div>
          <div class="item-carrito">
            <img src="/img/cafe.png" alt="Cafe">
            <p>Lorem ipsum dolor sit amet.</p>
            <input type="number"  name="cantidad">
            <button>+</button>
            <button>-</button>
          </div>
          <div class="item-carrito">
            <img src="/img/cafe.png" alt="Cafe">
            <p>Lorem ipsum dolor sit amet.</p>
            <input type="number"  name="cantidad">
            <button>+</button>
            <button>-</button>
          </div>
          <div class="item-carrito">
            <img src="/img/cafe.png" alt="Cafe">
            <p>Lorem ipsum dolor sit amet.</p>
            <input type="number"  name="cantidad">
            <button>+</button>
            <button>-</button>
          </div>
        </section>
        <div class="boton-enviar-carrito">
         <a href="#"> <button>Seguir comprando</button></a>
         <button type="submit">Procesar compra</button>
        </div>
    </main>
  </body>
</html>
