<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Ritual Urbano Cafe</title>
</head>
<body>
    <header>
    <div class=top-logo-bar>
        <img class="logo-horizontal" src="/img/logo-horizontal.png" alt="logo">
        <nav>
            <ul class="main-menu">
                <li>Home</li>
                <li>Producto</li>
                <li>Carrito</li>
                <li>Registro</li>
                <li>Login</li>
            </ul>
        </nav>
    </div>
    <h1>Hello (coffee) World!</h1>
</header>
</body>
</html>