<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e145d9d2c3.js" crossorigin="anonymous"></script>
    <title>Ritual Urbano Cafe</title>
</head>
<body>
    <header>
    <div class=top-logo-bar>
        <img class="logo-horizontal" src="/img/logo-horizontal.png" alt="logo" width="200px">
        <div class="login-registro">
            <p>Login</p>
            <p>Registro</p>
            <p>Carrito</p>
        </div>
    </div>
    <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>
</body>
</html>