<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/e145d9d2c3.js"
      crossorigin="anonymous"
    ></script>
    <title>Login Ritual Urbano</title>
  </head>
  <body>
    <header>
      <div class="top-logo-bar">
        <img class="logo" src="/img/logo-ritual-urbano.png" alt="logo" >
      </div>
      <form class="searchbar" action="" method="" placeholder="Que desea buscar?">
        <input type="query" name="busqueda" />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <nav class="menu-principal">
        <ul>
         <a href="#"> <li>Home</li></a>
         <a href="#"> <li>Productos</li></a>
          <a href="#"><li>Carrito</li></a>
          <a href="#"><li>Registo</li></a>
          <a href="#"><li>Iniciar Sesion</li></a>
        </ul>
      </nav>
    </header>
    <main>
      <div class="banner-inicio-session">
        <h2>Inicio de sesion</h2>
      </div>
    <div class="login-box">
      <form class="form-login" action="" method="">
        <label for="email">Direccion de mail</label>
        <input type="email" name="email" id="email" />
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" />
      </form>
      <div class="div-boton">
        <button class="submit-button" type="submit">Iniciar sesion</button>
      </div>
    </div>
    </main>
  </body>
</html>
