<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon-ru.ico">
    <title>Accede</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- PROYECTO CSS -->
    <script src="http;//code.jquery.com/jquery-latest.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-menu.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/e145d9d2c3.js"crossorigin="anonymous"></script>
  </head>
  <body>
      <!-- header INICIO -->
      <header class="main-menu home-menu mb-3  menu-fixed">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">

                    <nav class="navbar navbar-expand-lg navbar-light">

                        <a class="navbar-brand" href="/">
                            <img src="/img/logo-horizontal.png" alt="Logo Ritual Urbano">
                        </a>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/producto/detalle" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Productos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/producto/categoria"> Categoría</a>
                                        <a class="dropdown-item" href="/producto/detalle">Detalles Pdcto</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="/producto/detalle" role="button">Regalables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contacto">Contacto</a>
                                </li>
                            </ul>
                        </div>

                        <div class="header_icon d-flex nav-item dropdown">
                            <a id="search_1" href="javascript:void(0)"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <!-- <a id="navbarDropdown_2" href="/registro"><i class="fas fa-user-circle"></i></a> -->
                            <a id="navbarDropdown_2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle"></i>
                            </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                    <a class="dropdown-item" href="/user/login"> Login </a>
                                    <a class="dropdown-item" href="/user/registro"> Registro</a>
                                </div>

                            <!-- </div> -->
                            <a href="/carrito"><i class="fas fa-cart-plus"></i></a>
                            <!-- <div class="dropdown cart">
                                <a class="dropdown-toggle" href="/carrito" id="navbarDropdown3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cart-plus"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <div class="single_product">
  
                                  </div>
                              </div>

                            </div> -->
                        </div>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                    </nav>
                </div>
            </div>
        </div>
        <!-- <div class="search_input mb-3" id="search_input_box">
          <div class="container ">
              <form class="d-flex justify-content-between search-inner">
                  <input type="text" class="form-control" id="search_input" placeholder="Buscar aqui">
                  <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                  <span class="ti-close" id="close_search" title="Close Search">
                  </span>
              </form>
          </div>
      </div> -->
    </header>
    <main>
        <div class="container">
      <div class="banner-inicio-session">
        <h2>Inicio de sesion</h2>
      </div>
    <div class="login-box">
      <form class="form-login" action="/user/login" method="POST" id="form-logear">
        <label for="email">Direccion de mail</label>
        <input type="email" name="email" id="email" />
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" />
      </form>
      <div class="div-boton">
        <button form="form-logear" class="submit-button mb-3" type="submit">Acceder</button>
        <p>No eres parte de este ritual, haz click <a href="/user/registro">aqui</a>.</p>
        <p>Si olvidaste tu contraseña haz click <a href="#">aqui</a></p>
      </div>
    </div>
</div>
    </main>
     <!--footer start-->
     <footer class="main-footer">
      <div class="container">
          <div class="footer-content">
              <div class="row col-12">
                  <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                      <div class="logo-widget footer-widget">
                          <figure class="logo-box"><a href="#"><img src="/img/stamp.png" alt=""></a></figure>
                          <div class="text">
                              <p>Lorem ipsum dolor amet consectetur adi pisicing elit sed eiusm labore dolore magna aliqua enim ad minim veniam quis.nostrud exercita.laboris nisi ut</p>
                          </div>
                          <ul class="footer-social">
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
                      <div class="service-widget footer-widget">
                          <div class="footer-title">Servicios</div>
                          <ul class="list">
                              <li><a href="#">Café Orgánico</a></li>
                              <li><a href="#">Accesorios</a></li>
                              <li><a href="#">Cafeteras</a></li>
                              <li><a href="#">Souvenirs</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                      <div class="contact-widget footer-widget">
                          <div class="footer-title">Contáctenos</div>
                          <div class="text">
                              <p>Lorem Ipsum, simply dummy text</p>
                              <p>(+000) 123321</p>
                              <p>info@ritualurbano.com</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </footer>
      <!-- main-footer end -->
      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 column">
                      <div class="copyright"><a href="#">Ritual Urbano Coffe Shop</a> &copy; 2022 Todos los derechos rservados</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 column">
                      <ul class="footer-nav">
                          <li><a href="#">Terminos y condiciones</a></li>
                          <li><a href="#">Políitica de privacidad</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

  <!-- jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  
</body>
</html>


  </body>
</html>
