*{
    box-sizing: border-box;
    font-family: "Oswald", "Open Sans" ;
}

.logo{
    width: 100px;
}
.top-logo-bar{
    background-color: #f2efe9;
}

.searchbar input{
    width: 70%;
    padding: 0;
    
}
.searchbar{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.menu-principal ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: center;
    padding: 0;
}

.menu-principal a{
    text-decoration: none;
}


.banner-inicio-session{
    text-align: center;
}

.form-login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
      
}

.form-login input{
    width: 75%;
    border-bottom: solid 2px  #f2efe9;
    border-top: none;
    border-left: none;
    border-right: none;
   
}
.submit-button{
    width: 50%;
    
}
.div-boton{
    text-align: center;
    margin-top: 50px;
    
}
.banner-registro
{
    text-align: left;
}
.form-registro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.form-registro input{
    width: 75%;
    padding: 2px;
    border-bottom: solid 2px  #f2efe9;
    border-top: none;
    border-left: none;
    border-right: none;
}
.boton-registro{
    width: 50%;
    

}

