/* * {
  box-sizing: border-box;
  font-family: "Oswald", "Open Sans";
} */

/* -- etiquetas principales -- */

/* body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 8px;
  color: #1f2226;
}
.logo {
  width: 100px;
}

.top-logo-bar {
  background-color: #f2efe9;
  width: 100%;
} */

.logo-mobile {
  max-width: 100px !important;
}

.centrar-vertical {
  display: flex;
  align-items: center;
}

/* --- Navegacion --- */
/* .searchbar input {
  width: 70%;
  padding-left: 5px;
  font-size: 14px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: #f2efe9 solid 2px;
}
.searchbar {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.searchbar i {
  padding-left: 5px;
  text-decoration: none;
  color: #401201;
}
.menu-principal ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: center;
  padding: 0;
}

.menu-principal a {
  text-decoration: none;
  color: #401201;
} */

/* Banner */
/* .banner-inicio-session {
  text-align: left;
  padding: 10px;
  padding-bottom: 20px;
}

.banner-registro {
  padding: 10px;
  padding-bottom: 30px;
  padding: left;
}

.banner-registro h2 {
  margin: 0;
  padding: 0;
  text-align: center; 
}

.banner-registro p {
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-align: center; 
} */

/* formularios */


.producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #f2efe9;
  transition: all 450ms;
}

article:hover{
    box-shadow: 10px 10px 10px #f2efe9;
}

article img {
  width: 100%;
}

article p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Open Sans";
}

/* .item-carrito img {
  width: 20%;
  margin: auto;
  margin-left: 0;
}
.item-carrito input {
  height: 30%;
  width: 30px;
  margin: 15px;
}
.item-carrito p {
  font-family: "Open Sans";
  font-size: 12px;
  margin: auto;
  margin-left: 5px;
}
.item-carrito {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
} */

.item-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  min-height: 100px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  border-top: 10px solid #8c0303;
  text-align: center;
}

.item-carrito img {
  width: 30%;
  margin-left: 0;
  
}

.eliminar-carrito button{
  border-style: none;
}

.table button{
  border-style: none;
  background: #fff;
}

.boton-enviar-carrito {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;

}

.boton-enviar-carrito button{
  width: 130px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  transition: all 450ms;
}

.boton-enviar-carrito button:hover{
  background-color: #3e5902;
    color: #f2efe9;
}


.detalle-productos{
  margin: 0 20px;
}

.detalle-articulos{
  display: flex;
  box-shadow: 0 0 10px #f2efe9;
  margin: 10px;
  transition: all 450ms;
}

.detalle-articulos:hover{
  border: 1px solid  #f2efe9 ;
  box-shadow: 10px 10px 10px #f2efe9;
}

.detalle-articulos img{
  width: 100%;
}
.detalleimg{
display: flex;
flex: 2;
align-items: center;
width: 100%;
}

.detallebtn{
  display: flex;
  flex: 1;
  align-items: center;
}
.detalletxt{
  display: flex;
  flex: 8;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}

.piepagina {
  display: flex;
  background-color: #f2efe9;
  position: absolute;
  bottom: 0;
}

footer div img {
  width: 150px;
}

.footer-item-i {
  display: flex;
  align-items: center;
}

.form-contacto {   
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.form-contacto input{
    width: 45%;
    margin: auto;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #f2efe9 ;
}

.form-contacto textarea{
    margin: 20px;
}

.form-contacto label{
    text-align: center;
}

.form-contacto button{
  width: 100px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  transition: all 450ms;
  margin: auto;
  margin-bottom: 20px;
}

.form-contacto button:hover{
  
    background-color: #3e5902;
    color: #f2efe9;
  
}

.contacto-box{
    border: solid 1px #f2efe9;
    box-shadow: 0 0 10px #f2efe9;
    margin: 5px;
}

.contacto-header{
    text-align: center;
    margin: 10px;
    margin-bottom: 10px;
}

.categorias-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categorias-box img{
    width: 100%;
}

.categoria-cafes,
.categoria-cafeteras,
.categoria-chocolates,
.categorias-merchandising{
    width: 100%;  
    margin: 10px;
    padding: 20px;
    border: 1px solid  #f2efe9 ;
    box-shadow: 0 0 10px #f2efe9;
    transition: all 450ms;
}

.categoria-cafes:hover,
.categoria-cafeteras:hover,
.categoria-chocolates:hover,
.categoria-merchandising:hover{
    border: 1px solid  #f2efe9 ;
    box-shadow: 10px 10px 10px #f2efe9;
}

.cafeteras-box,
.cafe-box,
.otrosProductos-box,
.merchandising-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cafeteras-box img,
.cafe-box img,
.otrosProductos-box img,
.merchandising-box img{
  width: 100%;
}
.cafeteras-box p,
.cafe-box p,
.otrosProductos-box p,
.merchandising-box p{
  margin: 0;
  padding: 0;
}

.producto-cafetera,
.producto-cafe,
.producto-otros,
.producto-merchandising{
  width: 100%;
  margin: 10px;
  padding: 20px;
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;
}

.contenedor-slider{
  width: 500px;
  margin: auto;
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;
}

.contenedor-admin{
  display: flex;
  justify-content: center;
  
}
.box-admin{
  margin-bottom: 10px;
  width: 350px;
  text-align: center;
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;
}

.box-admin input{
  margin: 10px;
  font-size: 14px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #f2efe9 ;
}

.box-admin textarea{
  width: 270px;
}
  

.box-admin h1{
    text-align: center;
    margin: 0 10px;
}

.admin-button {
  width: 100px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  transition: all 450ms;
  margin: 10px;
}

.admin-button:hover {
  background-color: #3e5902;
  color: white;
}


.container-detalle-producto{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;
}

.img-detalle-producto{
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;

}

.img-detalle-producto img{
  width: 250px;
  padding: 10px;
}

.texto-detalle-producto{
  padding: 10px;
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;

}

.formCrearProducto{
    margin: auto;
    text-align: center;   
    border: 1px solid  #f2efe9 ;
    box-shadow: 0 0 10px #f2efe9;
    margin-bottom: 10px;

}

.formCrearProducto input{
  margin: 10px;
  width: 70%;
}

/*Moible*/

@media (min-width: 361px) {
  
  article{
    width: 45%;
  }
  .login-box {
    width: 300px;
    height: 320px;
  }
  .register-box {
    width: 40%;
    /* height: 400px; */
  }

  .contacto-box{
    width: 350px;
    height: 480px;
    margin: auto;
    margin-bottom: 70px;
  }

  .banner-inicio-session {
    text-align: center;
    padding-top: 20px;
  }
  .banner-registro {
    text-align: center;
    padding-top: 20px;
  }

  .menu-principal ul {
    width: 60%;
    margin: auto;
    padding-top: 20px;
  }
  .menu-principal li {
    padding-left: 5px;
    padding-right: 5px;
  }

  .categoria-cafes,
.categoria-cafeteras,
.categoria-chocolates,
.categorias-merchandising{
    width: 40%;
    
}
.producto-cafetera,
.producto-cafe,
.producto-otros{
  width: 40%;
}

.container-detalle-producto{
  display: flex;
  justify-content: space-between;
}

.img-detalle-producto{
  display: flex;
  flex-direction: column;
  flex: 2;
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;

}

.texto-detalle-producto{
  display: flex;
  flex: 7;
  flex-direction: column;
  flex-wrap: wrap;
  width:50vw;
  padding: 10px;
  border: 1px solid  #f2efe9 ;
  box-shadow: 0 0 10px #f2efe9;


}

.formCrearProducto input{
  margin: 10px;
  width: 40%;
}



}

/*Desktop*/

@media (min-width: 769px) {

  article{
    width: 25%;
  }

.categoria-cafes,
.categoria-cafeteras,
.categoria-chocolates,
.categorias-merchandising{
  width: 20%; 
}

.producto-cafetera,
.producto-cafe,
.producto-otros,
.producto-merchandising{
  width: 20%;
}

.item-carrito img {
  width: 20%;
  margin: auto;
  margin-left: 0;
}
.item-carrito input {
  height: 30%;
  width: 30px;
  margin: 15px;
}
.item-carrito p {
  font-family: "Open Sans";
  font-size: 12px;
  margin: auto;
  margin-left: 5px;
}
.item-carrito {
  display: flex;
  border-top: none;
  border-left: 10px solid #8c0303;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  
}



.descripcionArt-carrito {
  position: relative;
    flex-grow: 1;
    width: calc(100% - 455px);
    display: flex;
    align-items: center;
}

.contador-carrito {
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}

.precio-carrito {
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
}

.eliminar-carrito {
    right: 0;
    top: 3px;
}



.formCrearProducto input{
  margin: 10px;
  width: 30%;
}

}
