*{
    box-sizing: border-box;
}
.top-logo-bar{
    display: flex;
    justify-content: space-between;
    background-color: #f2efe9;
}
.login-registro{
    display: flex;

}
.login-registro p{
    padding: 0 5px;
    margin-top: 0;
    font-size: 12px;
}
.burger-menu{
    text-align: center;
    background-color: #f2efe9;

}
