<!DOCTYPE html>
<html lang="en">

   <!-- head INICIO -->
   <%- include("partials/head.ejs") %>
   <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("partials/header.ejs") %>
    <!-- header FIN -->

    <main>
            <!-- Banner de categorias y miga de pan -->
            <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
            style="background-image: url(/img/Banner-4.png);">
                <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Administrador</li>
                        </ol>
                    </nav>                
                    <h1 class="fw-bold display-6 mb-4 text-white">Administrador</h1>
                    <div class="col-12 col-md-6">
                        <!-- <img style="width:150px ;" src=" < %= usuarioFull.image%> "> <br> -->
                        <p class="lead text-white mb-0"> Hola <%= locals.usuarioFull.first_name %>  , aquí puedes crear y editar tus productos!</p>
                    </div>
                </div>
            </div>




      <section class="mt-5 container ">

        <h1 class="mb-4 display-5 fw-bold text-center">Bienvenido adminstrador</h1>
          <p class="text-center mx-auto">Seleccione que deseas realizar</p>
            <div class="border-bottom pb-3"></div>

            <div data-aos="fade-in" data-aos-delay="2000" class="aos-init aos-animate">
              <div class="d-md-flex justify-content-center mt-4 mb-3 my-md-5">
                  <a href="/producto/crear" class="btn btn-skew-left btn-orange btn-orange-chunky 
                  text-white mx-1 w-100 w-md-auto mb-2 mb-md-0">
                  <span> Crear Producto <i class="ri-arrow-right-line align-middle fw-bold"></i></span></a>
                  <a href="/producto/editar/lista"" class="btn btn-skew-left btn-orange btn-orange-chunky 
                  text-white mx-1 w-100 w-md-auto mb-2 mb-md-0">
                  <span>Editar Producto <i class="ri-arrow-right-line align-middle fw-bold"></i></span></a>
              </div>
              <i class="ri-mouse-line d-block text-center animation-float ri-2x transition-all opacity-50-hover text-white aos-init aos-animate" data-pixr-scrollto="" data-target=".brand-section" data-aos="fade-up" data-aos-delay="700"></i>
          </div>

      </section>

    </main>
  <!--footer start-->
    <%- include("partials/footer.ejs") %>
    <!-- main-footer end -->


</body>
</html>
