<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon-ru.ico">
    <title>Acceso Administrador</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- PROYECTO CSS -->
    <script src="http;//code.jquery.com/jquery-latest.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-menu.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/e145d9d2c3.js"crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- header INICIO -->
    <%- include("partials/header.ejs") %>
    <!-- header FIN -->

    <main>
      <div class="contenedor-admin">
        
        <div class="box-admin">
          <h1>Bienvenido adminstrador</h1>
          <form action="/admin" method="POST">
          <label for="send">Cargar Producto</label>
          <input type="radio" name="productoSendEdit" id="send" value="carga" required>
          <label for="editar">Editar Producto</label>
          <input type="radio" name="productoSendEdit" id="editar" value="editar" required>
          <br>
          <input type="number" name="productoID" placeholder="Id de Producto" required>
          <br>
          <input type="text" name="productoNombre" placeholder="Nombre">
          <br>
          <input type="number" name="productoPrecio" placeholder="$">
          <br>
          <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Ingresa aqui la descripcion del producto"></textarea>
          <br>
          <input type="text" name="productoCategoria" placeholder="Categoria">
          <br>
          <label for="imagen">Imagen del producto</label>
          <br>
          <input type="file" name="productoImagen" id="imagen">
          <br>
          <button class="admin-button" type="submit">Enviar</button>
          <button class="admin-button" type="reset">Limpiar form</button>
          </form>
        </div>

      </div>



    </main>
  <!--footer start-->
    <%- include("partials/footer.ejs") %>
    <!-- main-footer end -->


</body>
</html>
