<!DOCTYPE html>
<html lang="en">

   <!-- head INICIO -->
   <%- include("partials/head.ejs") %>
   <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("partials/header.ejs") %>
    <!-- header FIN -->

    <main>
      <div class="contenedor-admin">
        
        <div class="box-admin">
          <h1>Bienvenido adminstrador</h1>
          <br>
          <label for="">Crear Producto</label> <a href="/producto/crear"><button>Crear</button></a>
          <br>
          <label for="">Editar Producto</label> <a href="/producto/editar/lista"><button>Editar</button></a>
         
        </div>

      </div>
    </main>
  <!--footer start-->
    <%- include("partials/footer.ejs") %>
    <!-- main-footer end -->


</body>
</html>
