<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("partials/head.ejs") %>
  <!-- head FIN -->

  <body>
     <!-- header INICIO -->
     <%- include("./partials/header")  %> 

    <main>
        <div class="contacto-header">
            <h1>Contactenos</h1>
        </div>
        <div class="contacto-box" >
            <form class="form-contacto" action="/contacto" method="POST">
            <label for="nombre">Ingrese su nombre</label>
            <input type="text" name="nombre" id="nombre">
            <label for="apellido">Ingrese su pellido</label>
            <input type="text" name="apellido" id="apellido">
            <label for="email" >Ingrese su email</label>
            <input type="email" name="email" id="email" required>
            <textarea name="consulta" cols="30" rows="10" placeholder="Ingrese aqui sus comentarios" required></textarea>
            <button type="submit">Enviar</button>
            </form>

        </div>


    </main>
  <!--footer start-->
  <%- include("./partials/footer")  %> 

    <!-- main-footer end -->

</body>
</html>


</body>
</html>
