<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon-ru.ico">
    <title>Nuestros productos</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- PROYECTO CSS -->
    <script src="http;//code.jquery.com/jquery-latest.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-menu.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/e145d9d2c3.js"crossorigin="anonymous"></script>
  </head>
  <body>
     <!-- header INICIO -->
    
     <%- include("./partials/header")  %> 


    <main>
      <h2>Detalle de productos</h2>
        <section class="detalle-productos">
          <div class="detalle-articulos">
           <div class="detalleimg"> <img src="/img/cafe.png" alt="cafe"></div>
            <div class="detallebtn"><button>+</button></div>
            <div class="detalletxt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim doloremque sequi non quaerat fugit totam neque, tenetur consectetur cupiditate! Fugiat nihil vitae dolorem maiores quos dolore harum quis voluptatibus, delectus repellat veniam culpa doloremque doloribus quisquam officia architecto. A dolor architecto aspernatur sequi veritatis ea temporibus minus accusamus. Nam, quam vitae mollitia voluptatem quasi nobis necessitatibus accusamus reprehenderit laborum doloribus laboriosam in quibusdam expedita unde animi cum maiores tempora, incidunt alias maxime earum exercitationem quos aut. Quas facilis consequatur sit quae repellendus a esse incidunt quisquam cumque perferendis laborum libero rerum corrupti, aliquid pariatur recusandae amet maxime perspiciatis soluta nam ducimus asperiores voluptatibus adipisci mollitia? Aut repellat quis tempore ex vitae eos, neque beatae fuga praesentium inventore sunt, soluta commodi, mollitia quas quidem adipisci veniam amet nobis eius? Vero officiis, neque similique ipsam, eaque incidunt fugiat quibusdam quia itaque molestiae animi dicta harum cupiditate doloribus, ratione fugit culpa corrupti sit iure eum nostrum praesentium quod voluptatibus at! Officia laboriosam eos quae tenetur, consequuntur nulla ad eum cupiditate assumenda quaerat tempore repellendus? Ad sed voluptatibus qui a est impedit voluptates recusandae fugit veniam quas vitae tempora, molestiae eveniet reiciendis nisi suscipit culpa amet hic laborum adipisci quo quam. Ducimus, cum.</p></div>
          </div>
          <div class="detalle-articulos">
            <div class="detalleimg"> <img src="/img/cafe.png" alt="cafe"></div>
             <div class="detallebtn"><button>+</button></div>
             <div class="detalletxt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim doloremque sequi non quaerat fugit totam neque, tenetur consectetur cupiditate! Fugiat nihil vitae dolorem maiores quos dolore harum quis voluptatibus, delectus repellat veniam culpa doloremque doloribus quisquam officia architecto. A dolor architecto aspernatur sequi veritatis ea temporibus minus accusamus. Nam, quam vitae mollitia voluptatem quasi nobis necessitatibus accusamus reprehenderit laborum doloribus laboriosam in quibusdam expedita unde animi cum maiores tempora, incidunt alias maxime earum exercitationem quos aut. Quas facilis consequatur sit quae repellendus a esse incidunt quisquam cumque perferendis laborum libero rerum corrupti, aliquid pariatur recusandae amet maxime perspiciatis soluta nam ducimus asperiores voluptatibus adipisci mollitia? Aut repellat quis tempore ex vitae eos, neque beatae fuga praesentium inventore sunt, soluta commodi, mollitia quas quidem adipisci veniam amet nobis eius? Vero officiis, neque similique ipsam, eaque incidunt fugiat quibusdam quia itaque molestiae animi dicta harum cupiditate doloribus, ratione fugit culpa corrupti sit iure eum nostrum praesentium quod voluptatibus at! Officia laboriosam eos quae tenetur, consequuntur nulla ad eum cupiditate assumenda quaerat tempore repellendus? Ad sed voluptatibus qui a est impedit voluptates recusandae fugit veniam quas vitae tempora, molestiae eveniet reiciendis nisi suscipit culpa amet hic laborum adipisci quo quam. Ducimus, cum.</p></div>
           </div>
           <div class="detalle-articulos">
            <div class="detalleimg"> <img src="/img/cafe.png" alt="cafe"></div>
             <div class="detallebtn"><button>+</button></div>
             <div class="detalletxt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim doloremque sequi non quaerat fugit totam neque, tenetur consectetur cupiditate! Fugiat nihil vitae dolorem maiores quos dolore harum quis voluptatibus, delectus repellat veniam culpa doloremque doloribus quisquam officia architecto. A dolor architecto aspernatur sequi veritatis ea temporibus minus accusamus. Nam, quam vitae mollitia voluptatem quasi nobis necessitatibus accusamus reprehenderit laborum doloribus laboriosam in quibusdam expedita unde animi cum maiores tempora, incidunt alias maxime earum exercitationem quos aut. Quas facilis consequatur sit quae repellendus a esse incidunt quisquam cumque perferendis laborum libero rerum corrupti, aliquid pariatur recusandae amet maxime perspiciatis soluta nam ducimus asperiores voluptatibus adipisci mollitia? Aut repellat quis tempore ex vitae eos, neque beatae fuga praesentium inventore sunt, soluta commodi, mollitia quas quidem adipisci veniam amet nobis eius? Vero officiis, neque similique ipsam, eaque incidunt fugiat quibusdam quia itaque molestiae animi dicta harum cupiditate doloribus, ratione fugit culpa corrupti sit iure eum nostrum praesentium quod voluptatibus at! Officia laboriosam eos quae tenetur, consequuntur nulla ad eum cupiditate assumenda quaerat tempore repellendus? Ad sed voluptatibus qui a est impedit voluptates recusandae fugit veniam quas vitae tempora, molestiae eveniet reiciendis nisi suscipit culpa amet hic laborum adipisci quo quam. Ducimus, cum.</p></div>
           </div>
           <div class="detalle-articulos">
            <div class="detalleimg"> <img src="/img/cafe.png" alt="cafe"></div>
             <div class="detallebtn"><button>+</button></div>
             <div class="detalletxt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim doloremque sequi non quaerat fugit totam neque, tenetur consectetur cupiditate! Fugiat nihil vitae dolorem maiores quos dolore harum quis voluptatibus, delectus repellat veniam culpa doloremque doloribus quisquam officia architecto. A dolor architecto aspernatur sequi veritatis ea temporibus minus accusamus. Nam, quam vitae mollitia voluptatem quasi nobis necessitatibus accusamus reprehenderit laborum doloribus laboriosam in quibusdam expedita unde animi cum maiores tempora, incidunt alias maxime earum exercitationem quos aut. Quas facilis consequatur sit quae repellendus a esse incidunt quisquam cumque perferendis laborum libero rerum corrupti, aliquid pariatur recusandae amet maxime perspiciatis soluta nam ducimus asperiores voluptatibus adipisci mollitia? Aut repellat quis tempore ex vitae eos, neque beatae fuga praesentium inventore sunt, soluta commodi, mollitia quas quidem adipisci veniam amet nobis eius? Vero officiis, neque similique ipsam, eaque incidunt fugiat quibusdam quia itaque molestiae animi dicta harum cupiditate doloribus, ratione fugit culpa corrupti sit iure eum nostrum praesentium quod voluptatibus at! Officia laboriosam eos quae tenetur, consequuntur nulla ad eum cupiditate assumenda quaerat tempore repellendus? Ad sed voluptatibus qui a est impedit voluptates recusandae fugit veniam quas vitae tempora, molestiae eveniet reiciendis nisi suscipit culpa amet hic laborum adipisci quo quam. Ducimus, cum.</p></div>
           </div>
           <div class="detalle-articulos">
            <div class="detalleimg"> <img src="/img/cafe.png" alt="cafe"></div>
             <div class="detallebtn"><button>+</button></div>
             <div class="detalletxt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum enim doloremque sequi non quaerat fugit totam neque, tenetur consectetur cupiditate! Fugiat nihil vitae dolorem maiores quos dolore harum quis voluptatibus, delectus repellat veniam culpa doloremque doloribus quisquam officia architecto. A dolor architecto aspernatur sequi veritatis ea temporibus minus accusamus. Nam, quam vitae mollitia voluptatem quasi nobis necessitatibus accusamus reprehenderit laborum doloribus laboriosam in quibusdam expedita unde animi cum maiores tempora, incidunt alias maxime earum exercitationem quos aut. Quas facilis consequatur sit quae repellendus a esse incidunt quisquam cumque perferendis laborum libero rerum corrupti, aliquid pariatur recusandae amet maxime perspiciatis soluta nam ducimus asperiores voluptatibus adipisci mollitia? Aut repellat quis tempore ex vitae eos, neque beatae fuga praesentium inventore sunt, soluta commodi, mollitia quas quidem adipisci veniam amet nobis eius? Vero officiis, neque similique ipsam, eaque incidunt fugiat quibusdam quia itaque molestiae animi dicta harum cupiditate doloribus, ratione fugit culpa corrupti sit iure eum nostrum praesentium quod voluptatibus at! Officia laboriosam eos quae tenetur, consequuntur nulla ad eum cupiditate assumenda quaerat tempore repellendus? Ad sed voluptatibus qui a est impedit voluptates recusandae fugit veniam quas vitae tempora, molestiae eveniet reiciendis nisi suscipit culpa amet hic laborum adipisci quo quam. Ducimus, cum.</p></div>
           </div>
         







        </div>
        </section>
    </main>
    <!--footer start-->

    <%- include("./partials/footer")  %> 

    <!-- main-footer end -->

</body>
</html>

  </body>
</html>
