<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon-ru.ico">
    <title>Registro</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- PROYECTO CSS -->
    <script src="http;//code.jquery.com/jquery-latest.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-menu.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/e145d9d2c3.js"crossorigin="anonymous"></script>


  </head>
  <body>
     <!-- header INICIO -->
     <%- include("./partials/header") %>
     <main>
      <div class="banner-registro">
        <h2>Registro</h2>
        <p>Sumate a nuestro ritual</p>
      </div>
      <div class="register-box">
        <form class="form-registro" action="/user/registro" method="POST" id="form-registrar">
          <label for="nombre">Nombre y Apellido</label>
          <input type="text" name="nombre" id="nombre" minlength="8">
          <label for="email">Direccion de email</label>
          <input type="email" name="email" id="email">
          <label for="password">Contraseña</label>
          <input type="password" name="password" id="password">
          <label for="rpassword">Repetir contraseña</label>
          <input type="password" name="rpassword" id="rpassword">
        </form>      
        <p class="politica-privacidad">Tus datos personales se utilizarán para procesar tu pedido, 
            mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta 
            y otros propósitos descritos en nuestra política de privacidad.
        </p>      
      <div class=div-boton>
        <button form="form-registrar" class="boton-registro" type="submit">Registrar</button>
      </div>
    </div>
    </main>
     <!--footer start-->
     <%- include("partials/footer.ejs") %>
      <!-- main-footer end -->
</body>
</html>

  </body>
</html>
