<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("./partials/head") %>
  <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("./partials/header") %>
    <!-- header FIN -->

    <main>
    
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, asperiores.</p>



    </main>
  <!--footer start-->
    <%- include("./partials/footer") %>
    <!-- main-footer end -->
</body>
</html>


</body>
</html>
