<header class="main-menu home-menu mb-3  menu-fixed">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">

                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="navbar-brand" href="/">
                        <img src="/img/logo-horizontal.png" alt="Logo Ritual Urbano">
                    </a>

                    <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/producto/detalle" id="navbarDropdown_1"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Productos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                    <a class="dropdown-item" href="/producto/categoria"> Categoría</a>
                                    <a class="dropdown-item" href="/producto/detalle">Detalles Pdcto</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/producto/detalle" role="button">Regalables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contacto">Contacto</a>
                            </li>
                        </ul>
                    </div>

                    <div class="header_icon d-flex nav-item dropdown">
                       <!--  <a id="search_1" href="javascript:void(0)"><i class="fa-solid fa-magnifying-glass"></i></a>  --> 


                       <!-- new searchbar start--> 
                       <nav class="navbar navbar-light bg-none">
                            <form class="form-inline">
                              <input class="form-control mr-sm-2" type="search" name="busqueda" placeholder="Buscar" aria-label="Search" >
                              <button class="btn my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                              <style>
                                    .btn{
                                        border: none;
                                        color: gray ;
                                        font-size: 12px; 
                                    }

                                    .navbar-toggler{
                                        margin: auto;
                                    }

                                    .form-control{
                                        font-size: 12px;
                                        width: 110px;
                                        margin: auto;
                                    }
                                    .form-control:focus{
                                        border: solid 2px rgba(96, 13, 13, 1);
                                    }
                                    .header_icon a{
                                        margin: auto;
                                    }
                              </style>
                            </form>
                          </nav>

                       <!-- new searchbar end--> 





                        <a id="navbarDropdown_2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                <a class="dropdown-item" href="/user/login"> Login </a>
                                <a class="dropdown-item" href="/user/registro"> Registro</a>
                            </div>

                        <a href="/producto/carrito"><i class="fas fa-cart-plus"></i></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_icon"><i class="fas fa-bars"></i></span>
                    </button>

                </nav>
            </div>
        </div>
    </div>
</header>