<!-- <header class="main-menu home-menu mb-3  menu-fixed">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">

                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="navbar-brand" href="/">
                        <img src="/img/logo-horizontal.png" alt="Logo Ritual Urbano">
                    </a>

                    <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/producto/categoria">Categorias</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/producto/" role="button">Listado de Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contacto">Contacto</a>
                            </li>
                        </ul>
                    </div>

                    <div class="header_icon d-flex nav-item dropdown">

                       <nav class="navbar navbar-light bg-none">
                            <form class="form-inline" action="/producto/resultado" method="GET">
                              <input class="form-control mr-sm-2" type="search" name="busqueda" placeholder="Buscar" aria-label="Search" >
                              <button class="btn my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                              <style>
                                    .btn{
                                        border: none;
                                        color: gray ;
                                        font-size: 12px; 
                                    }

                                    .navbar-toggler{
                                        margin: auto;
                                    }

                                    .form-control{
                                        font-size: 12px;
                                        width: 110px;
                                        margin: auto;
                                    }
                                    .form-control:focus{
                                        border: solid 2px rgba(96, 13, 13, 1);
                                    }
                                    .header_icon a{
                                        margin: auto;
                                    }
                              </style>
                            </form>
                          </nav>

                        <a id="navbarDropdown_2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                <a class="dropdown-item" href="/user/login"> Login </a>
                                <a class="dropdown-item" href="/user/registro"> Registro</a>
                                <a class="dropdown-item" href="/admin"> Acceso administrador</a>
                            </div>

                        <a href="/producto/carrito"><i class="fas fa-cart-plus"></i></a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_icon"><i class="fas fa-bars"></i></span>
                    </button>

                </nav>
            </div>
        </div>
    </div>
</header> -->


<header>

    <!-- Navbar -->
    <nav
        class="navbar navbar-expand-lg navbar-light bg-white border-bottom mx-0 p-0 flex-column  border-0">
        <div class="w-100 pb-lg-0 pt-lg-0 pt-4 pb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
    
                <!-- Logo-->
                <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0" href="/">
                    <!-- Start of Logo-->
                    <div class="d-flex align-items-center">
                        <!-- <div class="f-w-6 d-flex align-items-center me-2 lh-1">
                        </div> -->
                        <img src="/img/logo-horizontal.png" alt="Logo Ritual Urbano" class="w-60 img-fluid">
                    </div>
                    <!-- / Logo-->
                    
                </a>
                <!-- / Logo-->
    
                <!-- Main Navigation-->
                <div class="ms-5 flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1" id="navbarNavDropdown">
    
                    <!-- Mobile Nav Toggler-->
                    <button
                        class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2"
                        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-close-circle-line ri-2x"></i>
                    </button>
                    <!-- / Mobile Nav Toggler-->
    
                    <ul class="navbar-nav py-lg-2 mx-auto">
                        <li class="nav-item me-lg-4">
                            <a class="nav-link fw-bolder py-lg-4" href="/">
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item dropdown me-lg-4">
                            <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Producto
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/producto/categoria">Categorias</a></li>
                                <li><a class="dropdown-item" href="/producto/">Lista</a></li>
                                <li><a class="dropdown-item" href="/producto/crear">Crear</a></li>
                                <li><a class="dropdown-item" href="/producto/editar/lista">Editar</a></li>
                                <li><a class="dropdown-item" href="/producto/producto/?id">Detalle</a></li>
                              </ul>
                        </li>
                        <li class="nav-item dropdown me-lg-4">
                            <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Usuario
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user/login"> Login </a></li>
                                <li><a class="dropdown-item" href="/user/registro"> Registro </a></li>
                               
                                <li><a class="dropdown-item" href="/admin"> Acceso administrador </a></li>
                              </ul>
                        </li>
                        <li class="nav-item me-lg-4">
                            <a class="nav-link fw-bolder py-lg-4" href="/contacto">
                                Contacto
                            </a>
                        </li>
                    </ul>            
                </div>
                <!-- / Main Navigation-->
    
                <!-- Navbar Icons-->
                <ul class="list-unstyled mb-0 d-flex align-items-center">
    
                    <!-- Navbar Toggle Icon-->
                    <li class="d-inline-block d-lg-none">
                        <button
                            class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center"
                            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ri-menu-line ri-lg align-middle"></i>
                        </button>
                    </li>
                    <!-- /Navbar Toggle Icon-->
    
                    <!-- Navbar Search-->
                    <li class="ms-1 d-inline-block">
                        <button
                            class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
                            data-pr-search>
                            <i class="ri-search-2-line ri-lg align-middle"></i>
                        </button>
                    </li>
                    <!-- /Navbar Search-->
    
                    <!-- Navbar Wishlist-->
                    <li class="ms-1 d-none d-lg-inline-block">
                        <a class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center"
                            href="#">
                            <i class="ri-heart-line ri-lg align-middle"></i>
                        </a>
                    </li>
                    <!-- /Navbar Wishlist-->
    
                    <!-- Navbar Login-->
                    <li class="ms-1 d-none d-lg-inline-block">
                        <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
                            href="#">
                            <i class="ri-user-line ri-lg align-middle"></i>
                        </a>
                    </li>
                    <!-- /Navbar Login-->
    
                    <!-- Navbar Cart-->
                    <li class="ms-1 d-inline-block position-relative">
                        <button
                            class="btn btn-link px-2 text-decoration-none d-flex align-items-center disable-child-pointer"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                            <i class="ri-shopping-cart-2-line ri-lg align-middle position-relative z-index-10"></i>
                            <span
                                class="fs-xs fw-bolder f-w-5 f-h-5 bg-orange rounded-lg d-block lh-1 pt-1 position-absolute top-0 end-0 z-index-20 mt-2 text-white">2</span>
                        </button>
                    </li>
                    <!-- /Navbar Cart-->
    
                </ul>
                <!-- Navbar Icons-->
    
            </div>
        </div>
    </nav>
    <!-- / Navbar--> 

</header>