<div class="btn-whatsapp">
    <a
      href="https://wa.me/message/LEURTRH66D4ZL1"
      target="blank"
    >
      <img
        src="img/whatsapp.png"
        alt="Contactenos"
        style="width: 80px;"
      >
    </a>
  </div>