<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
      <!-- header INICIO -->
      <%- include("../partials/header.ejs") %>

    <main>

      <!-- Banner de categorias y miga de pan -->
      <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
      style="background-image: url(/img/header-banner-registro.png);">
          <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                  <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Usuario</li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Login</li>
                  </ol>
              </nav>                
              <h1 class="fw-bold display-6 mb-4 text-white">Usuarios</h1>
              <div class="col-12 col-md-6">
                  <p class="lead text-white mb-0">
                      Inicia tu Sesión
                  </p>
              </div>
          </div>
      </div>
      <!-- Banner de categorias -->

      <section class="mt-5 container ">

        <h1 class="mb-4 display-5 fw-bold text-center">Inicio de Sesión</h1>
          <p class="text-center mx-auto">Complete los detalles a continuación. ¿Ya estás registrado?</p>
          <p class="text-center mx-auto">
            <span> Sí aún no eres parte de este ritual, haz click <a href="/user/registro">aquí.</a> </span>
          </p>
            <div class="border-bottom pb-3"></div>

            <!-- Formulario de login-->
            <div class="row d-flex mt-4">
              <div class="p-4 sticky-md-top top-5">
                  
                    <div class="card flex-grow-1 mb-md-0">
                      <div class="card__content">
                        <form class="form-login" action="/user/login" method="POST" id="form-logear">
                          <div class="mb-3">
                            <label class="form-label" for="email">Dirección de Email</label>
                            <input type="email"  name="email" id="email" class="form-control" placeholder="Ingrese su correo electrónico" />
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="password">Contraseña</label>
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" />
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox"  name="recuerdame" class="form-check-input" />
                            <label class="form-check-label mb-0">Recuérdame</label>
                          </div>
                          <button type="submit" form="form-logear" class="btn btn-dark">Acceder</button>
                        </form>
                      </div>
                    </div>

                    <!-- Accept Terms Checkbox-->
                    <div class="form-group form-check my-4">
                        <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                        <label class="form-check-label fw-bolder" for="accept-terms">Acepto los <a href="#">térmimos & condiciones</a></label>
                    </div>   
              </div>                
            </div>
          <!-- /form -->

      </section>

    </main>
     <!--footer start-->
     
     <%- include("../partials/footer.ejs") %>

      <!-- main-footer end -->
  </body>
</html>
